<div class="col-md-6 offset-md-3">
    <h3> Create Book </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Book Title</label>
            <input type="text" class ="form-control" id = "title"
                [(ngModel)] = "book.bookTitle" name = "title"> 
        </div>
    
        <div class="form-group">
            <label> Author Name</label>
            <input type="text" class ="form-control" id = "auth_name"
                [(ngModel)] = "book.authName" name = "auth_name">
        </div>
    
        <div class="form-group">
            <label> ISBN</label>
            <input type="text" class ="form-control" id = "isbn"
                [(ngModel)] = "book.isbn" name = "isbn">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
